// COLORS
    $color-lavender: #7D72FC;
    $color-blue: rgb(156, 223, 223);
    $color-soft-blue: rgb(225, 250, 250);

// FONTS
    $font-title: "VT323", monospace;
    $font-text: "Chakra Petch", sans-serif;